
head
  //- add page specific styles by appending to the head
  title="TODO"
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

body
  nav
    span
    h1 //TODO:
    a.navButtons(href="/users/login") Login
  main
    content
      article
        p New Here?  Check out Demo to see how the site works without having to make an account!
        .buttons
          form(action='/users/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(value=`${demoEmail}` name="email" type='hidden')
            input(value=`${demoPwd}` name="password" type='hidden')
            button.navButtons(type='submit' ) Demo
          a.navButtons(href="/users/signup") Signup
