include utils.pug

doctype html
block content
html
  head
      block head
        title="TODO App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav
      div
        h1.logo //TODO:
        button.logout Logout
    aside
      a.dashbutton Dashboard
      h2.groups Groups
        +groupList(groups)
    block content
    block group
