include utils.pug

doctype html
html
  head
      block head
        title="TODO App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
  body
    nav
      div
        h1.logo //TODO:
      a.logout(href="/users/logout") Logout
    aside
      a(href="/users/logout").dashbutton Dashboard
      h2.groups Groups
        +groupList(groups)
    block errors
    content.group
      block tasksList
    content.task
      block groupInfo
      block group
      block task
    footer
