extends layout

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/users/login' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    label(for='email') email
    input(type='email' name='email' required)
    label(for='password') password
    input(type='password' name='password' required)
    button(type='submit' ) signup
