form(action=`/users/${id}/${groupId}/add-member` method='post')
  input(type='hidden' name='_csrf' value=csrfToken)
  label(for='user_id') user Id
  input(type='number' name='user_id' required)
  button(type='submit' ) Add member
