.groupMemberHeader {
    color: darkred;
    font-weight: bold;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

.groupMembers {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    padding-left: 25px;
}

.groupTitle {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    color: darkred;
    padding-top: 10px;
}

.groupOwnerDiv {
    display: inline-block;
    padding-left: 10px;
}

.groupOwner {
    padding-left: 12px;
}

.groupForm {
    padding-left: 8px;
}

.groupTopBar {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.groupListTitle {
    color: darkred;
    font-weight: bold;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.groupButtonContainer {
    height: 80%
}

.groupButtons {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}

.memberContainer {
    height: 20px;
    overflow-y: scroll;
  }


.groupList > li {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px dashed grey;
    height: 20px;
  }

.groupListTitle {
    padding-left: 10px;
    font-weight: normal;
    color: black;

}

.groupListItem {
    padding-left: 25px;
}

.deleteGroupBut {
    position: relative;
    top: -16px;
}