.addTaskButton {
    color: lightseagreen
}

#completeTaskListButton {
    color: blue;
}

#incompleteTaskListButton {
    color: green
}

.delete-btn {
    color: red
}

h1 {
    color: red
}

.taskList {
    color: red
}
