.taskList .currentTask {
    padding-top: 3px;
    padding-bottom: 3px;
  }

.taskList .currentTask:hover {
    background-color: lightsalmon;
    font-weight: bold;
  }

/* .taskList li:hover {
    background-color: orange;
  } */

input[type=checkbox]:checked + label {
    color:grey;
    text-decoration: line-through;
  }

.addTaskButton {
  color: lightseagreen;
}

#completeTaskListButton {
  color: blue;
}

#incompleteTaskListButton {
  color: green;
}

.delete-btn {
  color: darkred;
}

h1 {
  color: darkred;
}

.taskList {
  color: darkred;
}
