.addTaskButton {
  color: lightseagreen;
}

#completeTaskListButton {
  color: blue;
}

#incompleteTaskListButton {
  color: green;
}

.delete-btn {
  color: darkred;
}

h1 {
  color: darkred;
}

.taskList {
  color: darkred;
}
